<%- include ('./partials/header') %>
<br><br><br><br>    
<nav id="experiment-article-navigation" class="default">
        <ul id="experiment-article-navigation-menu">
            <li> <a href="/simulation<%= experimentnumber %>"><img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOByYK39uVEW4MB5QUp7vGGXvgou7s3a3Exg&usqp=CAU>
                    <br>
                    SIMULATION
                </a>

            </li>
                <li> <a href="/theory<%= experimentnumber %>"><img src=https://static.thenounproject.com/png/2336578-200.png>
                    <br>
                    THEORY
                </a>
            </li>
            <li> <a href="/procedure<%= experimentnumber %>"><img src=https://cdn.iconscout.com/icon/premium/png-256-thumb/virtual-lab-3396118-2828219.png>
                    <br>
                    PROCEDURE
                </a>
            </li>
            
    </nav>
    </div>
    <%- include ('./partials/footer') %>
